<h1>Ciframos</h1>

Try to automate Let's Ecnrypt certificate for GitLab Pages. As much as possible.

<h2>See also</h2>

<ul>
  <li><a href="https://letsencrypt.org/">Let's Encrypt</a>
  <li><a href="https://github.com/unixcharles/acme-client">Ruby client</a>
  <li><a href="https://github.com/themadcreator/acme-express">Node.js client</a>
</ul>
